[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "foghorn"]
	path = foghorn
	url = https://github.com/fmichonneau/foghorn
[submodule "phylobase"]
	path = phylobase
	url = https://github.com/fmichonneau/phylobase
[submodule "riceware"]
	path = riceware
	url = https://github.com/fmichonneau/riceware
[submodule "rncl"]
	path = rncl
	url = https://github.com/fmichonneau/rncl
